@import "../../Variables.scss";
@import "../../Mixin.scss";

.main-wrapper{
    
    p{
       text-align: center;
    //    margin-top: 5rem;
       font-size: 20px;
       font-weight: 400;
       color: $white;
       letter-spacing: 1px;
    }
    h2{
        font-size: 2.3rem;
        color: $white;
        font-weight: 400;
        text-align: center;
        margin-bottom: 7rem;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            height: 3px;
            width: 4rem;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            background: $purple;
        }
    }
    .services-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        .card{
            background: #1D1D1D;
            padding: 20px;
            border: 1px solid #2b2b2b;
            font-size: 30px;
            text-align: center;
            border-radius: 3px;
            padding: 1rem;
            width: 390px;
            transition: .5s ease;
            .services-card{
                background: #111111;
                i{
                    color: $purple;
                    font-size: 4rem;
                    margin-top: 2rem;
                    transition: .7s ease-in-out;
                }
                h3{
                    font-size: 18px;
                    color: white;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-top: 1rem;
                }
                p{
                    font-size: 1rem;
                    margin-top: 15px;
                    padding: 0 2rem;
                    padding-bottom: 2rem;
                }
            }
            &:hover{
                box-shadow: 1px 1px 10px rgba(255, 1, 79, 0.5);
                .services-card{
                    background: none;
                    i{
                        transform: rotateY(360deg);
                    }
                }
            }
        }
        
    }
}

@media (max-width:768px){
    .main-wrapper{
        width: 100vw;
        h2{
            font-size: 42px;
            line-height: 45px;
            &::after{
                bottom: -30px;
            }
        }
    }
    .services-wrapper{
        grid-template-columns: auto !important;
        justify-content: center;
    
    }
}
